﻿body {
    padding: 10px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.POC_DROP_LIST
{
    width: 200px;
    height: 35px;
}
.STEP_NUMBER
{
    font-size: 28px;
    border: 2px solid #000;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #aaa;
    font-weight: bold;
}
.DIRECTIONS
{
    font-weight: bold;
}
.POC_SUBMIT_BUTTON
{
    width: 300px;
    font-weight: bold;
    border: 2px groove #89f;
}
.STEP_TABLE
{
    background-color: #ddd;
    width: 100%;
}

.STEP_TABLE :first-child
{
    width: 40px;
}