﻿@model ResistorCalculatorModel
@{
    ViewBag.Title = "Simple Resistor Calculator";
}
<h3>V2 (More accurate values)</h3>
<br/><br/>
<p>
    Welcome back!</a>.
    <br/><br />
    Now we work on getting more accurate results and extensibility.  This one has support for 5 possible bands.
</p>
@using (Html.BeginForm("Index", "V2", FormMethod.Post, new
{
    role = "form"
}))
{
    <table cellpadding="10" style="width: 500px;">
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">1</div></td>
                        <td class="DIRECTIONS">Please select the color code of the resistor by reading the resistor from left to right.  To distinguish left from right, there is a tiny gap between the third and fourth bands.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandFirst)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandFirst, Model.SignificantOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandSecond)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandSecond, Model.SignificantOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandThird)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandThird, Model.AllPossible, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandFourth)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandFourth, Model.MultiplierOrTolerance, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandFifth)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandFifth, Model.ToleranceOnly, new { @class = "POC_DROP_LIST" })
                <br/>
                @Html.LabelFor(model => model.HasFourBands)
                @Html.CheckBoxFor(model => model.HasFourBands)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">2</div></td>
                        <td class="DIRECTIONS">Click the button below to calculate the result.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">3</div></td>
                        <td class="DIRECTIONS">View your result below.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CalculatedResult)
            <td>
                @Html.DisplayFor(model => model.CalculatedResult)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">4</div></td>
                        <td class="DIRECTIONS">Compare visually with the resistor below to make certain.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            @if (ViewBag.ShowResistor)
            {

                if (ViewBag.HasFourBands)
                {
                    <svg width="500" height="50">
                        <rect y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                        <rect x="350" y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                        <rect x="150" width="200" rx="20" ry="20" height="45" style="fill:#fdc; stroke-width: 1; stroke:#000" />
                        <rect x="170" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandFirst" />
                        <rect x="210" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandSecond" />
                        <rect x="250" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandThird" />
                        <rect x="310" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandFourth" />
                    </svg>
                }
                else
                {
                    <svg width="500" height="50">
                        <rect y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                        <rect x="350" y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                        <rect x="150" width="200" rx="20" ry="20" height="45" style="fill:#fdc; stroke-width: 1; stroke:#000" />
                        <rect x="170" y="0" width="16" height="45" style="fill:@ViewBag.ColorBandFirst" />
                        <rect x="200" y="0" width="16" height="45" style="fill:@ViewBag.ColorBandSecond" />
                        <rect x="230" y="0" width="16" height="45" style="fill:@ViewBag.ColorBandThird" />
                        <rect x="260" y="0" width="16" height="45" style="fill:@ViewBag.ColorBandFourth" />
                        <rect x="300" y="0" width="16" height="45" style="fill:@ViewBag.ColorBandFifth" />
                    </svg>
                }
            }
            </td>
        </tr>
    </table>
    @Html.AntiForgeryToken()
}
<p>
    This small project was completed entirely by Charles Rollins on 2016/09/08 at 6:50 AM
</p>