﻿@model ResistorCalculatorModel
@{
    ViewBag.Title = "Simple Resistor Calculator";
}
<h3>V1 (POC)</h3>
<br/><br/>
<p>
    Welcome to my submission for <a href="http://www.blinds.com" target="REUSABLE_POPUP">Blinds.com</a>.
    <br/><br />
    Initially, I like to do a proof of concept to ensure we have an excellent starting point.  From this moment going forward, we can assume all of the base functionality works correctly within this project.  Please follow the directions and enjoy!
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new
{
    role = "form"
}))
{
    <table cellpadding="10" style="width: 500px;">
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">1</div></td>
                        <td class="DIRECTIONS">Please select the color code of the resistor by reading the resistor from left to right.  To distinguish left from right, there is a tiny gap between the third and fourth bands.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandFirst)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandFirst, Model.SignificantOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandSecond)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandSecond, Model.SignificantOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandThird)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandThird, Model.MultiplierOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ColorBandFourth)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ColorBandFourth, Model.ToleranceOnly, new { @class = "POC_DROP_LIST" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">2</div></td>
                        <td class="DIRECTIONS">Click the button below to calculate the result.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">3</div></td>
                        <td class="DIRECTIONS">View your result below.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CalculatedResult)
            <td>
                @Html.DisplayFor(model => model.CalculatedResult)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">4</div></td>
                        <td class="DIRECTIONS">Compare visually with the resistor below to make certain.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            @if (ViewBag.ShowResistor)
            {
                <svg width="500" height="50">
                    <rect y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                    <rect x="350" y="20" width="150" height="7" style="fill:#C0C0C0;stroke-width:0;" />
                    <rect x="150" width="200" rx="20" ry="20" height="45" style="fill:#fdc; stroke-width: 1; stroke:#000" />
                    <rect x="170" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandFirst" />
                    <rect x="210" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandSecond" />
                    <rect x="250" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandThird" />
                    <rect x="310" y="0" width="20" height="45" style="fill:@ViewBag.ColorBandFourth" />
                </svg>
            }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="8" class="STEP_TABLE">
                    <tr>
                        <td><div class="STEP_NUMBER">5</div></td>
                        <td class="DIRECTIONS">Try Version 2 for more accurate results.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Click here for Version 2", "Index", "V2")
            </td>
        </tr>
    </table>

    <br/><br/>
    <p>
        This submission was created entirely by Charles Rollins.  I hope you find my work satisfactory.  I finished this work on 2016 / 08 / 09 05:22
        <br/><br/>
        Now to put it on github!
    </p>

    @Html.AntiForgeryToken()
}